body {
  position: relative;
  width: 100%;
  height: 100%
}

html {
  width: 100%;
  height: 100%;
}

.home-section {
  height:100%;
  padding-top: 70px;
  text-align: center;
  background: #fff;
}

.intro-section {
  height:100%;
  padding-top: 70px;
  text-align: center;
  background: #cccccc;
}

.info-section {
  height:100%;
  padding-top: 70px;
  text-align: center;
  background: #fff;
}
